{% extends "base.html" %}

{% block body %}
<div>
  <div id="add-submission">
    <h2>Add a Submission</h2>
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      <table>
        {{form}}
        <tr>
          <td></td>
          <td>
            <span class="right">
              <input type="submit" value="Submit" />
            </span>
          </td>
        </table>
      </form>
    </div>
    <div id="view-submission">
    <h2>Existing Submissions</h2>
    {% if submissions %}
        <table id="submissions" class="results">
          <thead>
            <th>Timestamp</th> <th>Comments</th> <th>Score</th>
          </thead>
        <tbody>
        {% for submission in submissions %}
        <tr>
          <td><b>{{submission.timestamp}}</b></td>
          <td>{{submission.comments}}</td>
          <td>{{submission.score}}</td>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
        <b>None</b>
    {% endif %}
    </div>
  </div>
  {% endblock %}

