
body {
    width: 800px;
    margin: 30px auto;
}

/* Header */
div#header {
    text-align: center;
}

div#header table {
    margin: auto;
}


/* Linkbar */
div#linkbar {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

div#linkbar a {
    color: black;
    text-decoration: none;
}

div#linkbar a:hover {
    font-weight: bold;
}

/* Logout */
div#logout {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Body */
div#body {
    min-height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: thin;
}


/* Footer */
div#footer {
    text-align: center;
}

/* Miscellaneous */
div.centered {
    text-align: center;
}

div.right {
    text-align: right;
}

span.centered {
    text-align: center;
}
span.right {
    text-align: right;
}

table#home-table td {
    width: 50%;
}

div#login {
    width: 300px;
    margin: auto;
    padding: 10px;
    border: solid 1px;
    height: 300px;
}

div#help {
    width: 300px;
    margin: auto;
    padding: 10px;
    border: solid 1px;
    height: 300px;
}

table#scores td,th {
    min-width: 100px;
    text-align: right;
}


